* {
    box-sizing: border-box;
}

body {
    background-color: #241f28;
    /* max-height: 100vh; */
}

h2 {
    color: #c493ff;
    text-align: center;
    font-size: 2rem;
}

a.username {
    color: red;
}

a.username,
.followers {
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

.real_name,
.user_email,
.user_location {
    padding: 2px;
    margin: 0 10px;
}

.main {
    margin-top: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.info {
    background-color: #463d53;
    min-width: 500px;
    min-height: 300px;
    border-radius: 5px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.github_logo,
.profile_logo {
    display: block;
    height: 120px;
    width: 120px;
    margin: 25px auto;
}

.profile_logo {
    border-radius: 50%;
}

.search {
    margin-top: 120px;
}

.error-message {
    color: #832c3d;
}
#search-input {
    background-color: #414141;
    width: 400px;
    border-radius: 3px;
    border-style: none;
    padding: 13px;
    color: #fff;
}

#search-input:focus {
    outline: none;
    background-color: #463d53;
}
