* {
    box-sizing: border-box;
}

body {
    background-color: #241f28;
    max-height: 100vh;
}

h2 {
    color: #c493ff;
    text-align: center;
    font-size: 2rem;
}

h4 {
    margin: 0;
}

a.username,
.followers {
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

.real_name,
.user_email,
.user_location {
    padding: 2px;
    margin: 0 10px;
}

.main {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    background-color: #604d78;
    min-width: 500px;
    max-height: 400px;
    border-radius: 5px;
}

img.github_logo,
.profile_logo {
    display: block;
    height: 120px;
    width: 120px;
    margin: 25px auto;
}

.profile_logo {
    border-radius: 50%;
}

small {
    margin-top: 10px;
}

.search {
    margin-top: 150px;
}

#search-input {
    background-color: #414141;
    width: 400px;
    border-radius: 3px;
    border-style: none;
    padding: 13px;
    color: #fff;
}

#search:focus {
    outline: none;
}
